.modal-contentErr{
    background-color: red;
}

.ModalbodyError{
    text-align: center;
    background-color: #272A30;
    color: red;
    font-size: 1.5rem;
}

.ModalbodyMensaje{
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #272A30;
    font-size: 1.5rem;
}

.soloMensajes {
    margin-top: 12em !important;
    transform: none;
}

.ModalCon{
    margin-top: -4em !important;
    height: -webkit-fill-available !important;
}

.ModalheaderLogin{
    background-color: #272A30;
    border-bottom: none !important;
}

.ModalheaderLoginNotasLote{
    border-bottom: none !important;
}
